<mat-toolbar>
  <mat-toolbar-row>
    <div>
      <a href="/products" mat-button class="nav-link">Products</a>
      <a href="/cart" mat-button class="nav-link">Cart</a>
    </div>
    <mat-form-field class="change-width">
      <mat-label>$</mat-label>
      <mat-select>
        <!-- @for (food of foods; track food) {
        <mat-option [value]="food.value">{{ food.viewValue }}</mat-option>
        } -->
      </mat-select>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
