<div class="container">
  <h1>Cart</h1>

  <mat-card>
    <mat-list>
      <mat-list-item *ngFor="let item of cartItems">
        <div matListItemAvatar>
          <img
            *ngIf="item.gallery"
            mat-card-image
            [src]="item.gallery"
            alt="{{ item.name }}"
            style="width: 50px; height: 50px; object-fit: cover"
          />
        </div>
        <div matListItemTitle>
          <span>{{ item.name }}</span>
        </div>
        <div matListItemLine>
          <span>{{
            item.displayPrice | currency : selectedCurrencySymbol : "symbol"
          }}</span>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item>
        <div class="price" matListItemTitle>
          <strong>Total ({{ selectedCurrencySymbol }})</strong>
        </div>
        <div class="price" matListItemLine>
          <strong>{{
            totalPrice | currency : selectedCurrencySymbol : "symbol"
          }}</strong>
        </div>
      </mat-list-item>

      <mat-divider></mat-divider>

      <mat-list-item class="text-right">
        <button mat-flat-button color="warn" (click)="clearCart()">
          Clear
        </button>
      </mat-list-item>

      <mat-list-item class="text-right">
        <button mat-raised-button color="accent" (click)="checkout()">
          Checkout
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
